html, body {
    width: 100%;
    background: rgba(247,247,247,1);
}

#topBar {
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 100;
    background: rgba(247,247,247,1);
}

#BINO {
    left: 50px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 127px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;    
    --web-action-target: Dashboard.html;
    cursor: pointer;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(0,0,0,1);
    margin-left: 40px;
}

#Search {
    background-color: white;
    border-radius: 25px;
    width: 300px;
    position: relative;
    height: 50px;
    top: calc(50% - 25px);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.102));
}
/* NAVBAR STUFF */

#main_section{
    position: absolute;
    width: 100%;
    
    height: 100%;
    /* left: calc(50% - 400px); */
}

#icon {
    float: left;
    position: relative;
    top: 7px;
    left: 60px;
}

#overview_text{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    margin-left: 90px;
    color: rgba(0,0,0,1);
}

#avatar_text{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-right: 5px;
    margin-top: -20px;
    color: rgba(0,0,0,1);
}

#overview_button {
    width: 300px;
    height: 40px;
    margin-left: -50px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#sidenav {
    height: 40px;
    position: absolute;
    margin-top: 100px;
    left: 50px;

}

.sidenavweek {
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}

.sidenavweek2 {
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    fill: black;
}

#quiz_card {
    fill: rgba(255,255,255,1);
    position: absolute;
    overflow: visible;
    top: 0;
    width: 100%;
    white-space: nowrap;
}

#quiz_content {
    position: absolute;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 30px;
    top: 150px;
    padding-right: 30px;
    padding-left: 30px;
    /* left: calc(50% - 300px); */
}

#quiz_options {
    position: relative;
    display: block;
}

#quiz_text {
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    margin-top: 20px;
    font-size: 40px;
    color: orange;
}

#quiz_text2 {
    text-align: left;
    white-space: nowrap;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(0,0,0,1);
}

#sidebarquiz {
    font-weight: bold;
}

#nextbutton {
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    float: right;
}

#avatar {
    border-radius: 50%;
    float: right;
    position: relative;
    right: 200px;
    bottom: 20px;
  }

.temp {
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: red;
}

.progress {
    margin-top: 10px;
    position: relative;
    /* top: 120px; */
    left: auto;
    width: auto;
    /* -webkit-transform-origin: 0 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform-origin: 0 100%;
    -moz-transform: rotate(90deg);
    -ms-transform-origin: 0 100%;
    -ms-transform: rotate(90deg);
    transform-origin: 0 100%;
    transform: rotate(90deg);   */

}

.progress-bar {
    background-color: orange;
}